<!DOCTYPE html>
<html>
<head>
    <title>home</title>
    <link href="../static/content/start_set.css" rel="stylesheet" />
</head>
<body>
    <header>
        <div class="container">
            <h1 class="logo">Lunch Time mmmmmm</h1>
            <nav>
                <ul>
                    <li><a href="/home">Home</a></li>
                    <li><a href="/login">Login</a></li>
                    <li><a href="/signin">Sign in</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </nav>
        </div>
    </header>
    {% if nombre != '' %}
        <h1> bienvenido {{ user.name }}</h1>
    {% endif %}
    <p>bienvenido no conocido viajero este es una pagina que va a dificultar la elaboracion de tu proyecto las condiciones de uso son las siguientes:</p>
    <p>La pagina por mas que quiera no puede usar tus datos y ni siquiera sabe como recogerlos y obtenerlos.</p>
    <p>Se sincero usuario esperas que una pagina tan mal trabajada robara tus datos, nos alagas pero conocemos nuertras capacidades no sabemos como hacer eso y sobre todo puede que incluso esta pagina sea cerrada a los 2 dias de tu logeo asi que perdon por hacerte perder el tiempo.</p>
    <p>No usar la pagina asi este gratis o te regalen dinero</p>
    <p>En serio existen mejores opciones y puede que incluso lo que con tanto trabajo organizaste creaste y lo que con tanto trabajo completaste, todo lo que con tanto amor hiciste se esfumara si ocurre un apagon en mi casa.</p>
    <p>En serio estas leyendo esto.</p>
    <p>Estaba escribiendo todas estas cosas mientras pensaba de que forma pofria agregar mas bugs a la pagina si estas leyendo esto dota es mejor lol y si piensas lo contrario puedes denunciar la pagina por spam</p>
    <p>Bueno ya que te gusta leer</p>
    <p>-DETENED LA NAVE, hay algo flotando a sotavento- Quien hablaba era un hombre no muy alto y robusto, de nombre William Jones. Era el capitan de una nave en la que, con unos pocos tripulantes, navegaba en el momento de comenzar la historia. -Si, capitan- respondio John Towers, y la nave se detuvo. El capitan Jones tendio su mano hacia el objeto y comprobo que se trataba de una botalla de cristal. -No es ma que una botella de ron que un tripulante de algun barco ha tirado- dijo, pero, dejandose llevar por la curiosidad, la recogio. Era solo una botella de ron y estuvo a punto de arrojarla, pero en ese momento se percato de que habia un trozo de papel dentro. Lo saco y leyo lo siguiente:</p>
    <p>1 de enero de 1864. Mi nombre es John Jones y estoy escribiendo esta carta. Mi buque se hunde con un tesoro a bordo. Me encuentro en el punto marcado en la carta.</p>
    <p>El capitan Jones le dio vuelta a la hoja y vio que por el otro lado era una carta nautuca en cuyo margen habia esritas las siguientes palabras: "la linea de puntos indica el rumbo que hemos seguido."</p>
    <p>-Towers-dijo el capitan Jones- lea esto. Towers le obedecio. -Creo que vale la pena dirigirnos hasta ahi - dijo el capitan - no cree?. -Coincido con usted- replico Towers. - Aprestaremos hoy maximo una embarcacion- manifesto el excitado capitan. -Como mande- manifesto Towers. Asi que fletaron una nave y siguieron la linea de puntos de la carta. En cuatro semanas habian alcanzado el lugar indicado y los buzos se sumergieron para volver con una botella de hierro. Dentro encontraron las siguientes palabras:</p>
    <p>3 de diciembre de 1880. Estimado buscador, disculpe por la broma que le hegastado, pero eso le servira de leccion contra proximas tonterias...</p>
    <p>-Bien- dijo el capitan Jones -,sigamos-</p>
    <p>Sin embargo, deseo compensarle por los gastos en el lugar que ha encontrado la botella. Calculo que seria unos 25 000 dolares, asi que eso es lo que encontrara en una caja de hierro. Se donde encontro la botella porque yo la puse alli, asi como la caja de hieroo y despues busque un buen ligar para poner la segunda botella. Esperando que el dinero le compense me despido. Anonimo</p>
    <p>-Me gustaria arrancarle la cabeza -dijo el capitan Jones- sumergios ahora y traedme los 25 000</p>
    <p>Historia de H. P. Lovecraft si te gusto tiene relatos de terror y mas relatos satiricos como el que leiste.</p>
    <form  action="work">
        <div class="field">
            <p class="control">
                <input class="bt btn-default" type="submit" value="trabaja" />
            </p>
        </div>
    </form>
</body>
</html>