<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Starp</title>
    <link href="../static/content/start_set.css" rel="stylesheet" />
</head>
<body>
    <header>
        <div class="container">
            <h1 class="logo">Lunch Time mmmmmm</h1>
            <nav>
                <ul>
                    <li><a href="/login">Login</a></li>
                    <li><a href="/signin">Sign in</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <h1 class = "bienvenidos">Bienvenido a LUNCH TIME MMMMMMMMMMM</h1>
    <h2>Que somos?</h2>
    <p>Somos una pagina primeriza de como no ordenar tu trabajos y hacer trabajo en equipo. En toda la experiencia que tenemos podemos asegurarte un experiecia mediocre y si sigues usando nuestra pagina estamos seguros de dos cosas: todos los programas gratis bajaron de calidad o todos los demas programas o paginas como nosotros se volvieron de pago.</p>
    <h3>TENGA UN BUEN DIA</h3>
</body>
</html>
