<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Drag n Drop</title>
    <link rel="stylesheet" href="../static/content/work_set.css" />
</head>
<body>
    <div class="app">
        <header>
            <h1>PROYECT</h1>
        </header>
        <div class="lists">
            <div class="list">
                <p>coding</p>
                <div class="list_item" draggable="true">code</div>
                <div class="list_item" draggable="true">design</div>
                <div class="list_item" draggable="true">bug</div>
            </div>
            <div class="list"><p>checking</p></div>
            <div class="list"><p>aproved</p></div>
        </div>
    </div>
    <script src="../static/scripts/drag_n_drop.js"></script>
</body>
</html>